

.App {
  text-align: left;
}

.App-header {
  margin-top: 10px;;
  background-color: burlywood;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  border-style: inset;
  border-inline-start-color: rgb(214, 160, 99);
  border-inline-end-color: rgb(247, 213, 139);
  border-top-color: rgb(255, 188, 111);
  border-bottom-color: rgb(238, 207, 140);
  padding-left: 10px;
  padding-right: 10px;
  font-family: fantasy;
  color: teal;
  text-shadow: 1px 1px #a4724d;
  line-height: 0em;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Search-bar {
  margin-top: 4px;;
  background-color: teal;
  color: white;
  padding-top: 8px;
  border-style: outset;
  border-inline-start-color: rgb(120, 167, 172);
  border-inline-end-color: rgb(31, 176, 150);
  border-top-color: rgb(107, 165, 153);
  border-bottom-color: rgb(18, 189, 167);
  width: 100%;
}

.Nav-bar {
  margin-top: 4px;;
  background-color: teal;
  color: burlywood;
  padding-top: 8px;
  border-style: outset;
  border-inline-start-color: rgb(120, 167, 172);
  border-inline-end-color: rgb(31, 176, 150);
  border-top-color: rgb(107, 165, 153);
  border-bottom-color: rgb(18, 189, 167);
  width: 100%;
}

.Photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  line-height: 0.5em;
}

.Map {
  margin-top: 6px;
}

.Display {
  margin-top: 4px;
  background-color: burlywood;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  border-style: inset;
  border-inline-start-color: rgb(214, 160, 99);
  border-inline-end-color: rgb(247, 213, 139);
  border-top-color: rgb(255, 188, 111);
  border-bottom-color: rgb(238, 207, 140);
  color: black;
  line-height: 0.1em;
}

.Sort {
  align-items: right;
}

ul{
  list-style-type: disc;
}

li {
  padding-top: 0.2em;
  float: left;
  width: 50%;
}

.Large-crop {
  max-width: 700px;
  max-height: 600px;
  object-fit: scale-down;
  object-position: center;
}

.Map-crop {
  max-width: 800px;
  max-height: 800px;
  object-fit: scale-down;
}

.Mid-crop {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.Search-bar, .Login, .Sort {
  padding-left: 10px;
  padding-bottom: 10px;;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  padding-left: 10px;
  padding-right: 10px;
}

small {
  line-height: 0.8em;
}

a {
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}

a:link {
  color: rgb(238, 207, 140);
}

a:visited {
  color: rgb(238, 207, 140);
}

a:hover {
  color: whitesmoke;
}

a:link {
  color: white;
}